#CronTab_table {
    background: var(--jp-layout-color3);   
    width: 100%;

}
#CronTab_table > tr {
    border-width : "1px";
    border-style: solid;
    border-color:  var(--jp-layout-color0);
}
#CronTab_table > th {
    border-width : "1px";
    border-style: solid;
    border-color:  var(--jp-layout-color0);
}
#CronTab_table > thead > tr{
    border-bottom: 1px solid var(--jp-layout-color0);
}